In [4]:
import numpy as np
import pandas as pd

### Load Data

In [6]:
ratings = pd.read_csv('data/title.ratings.tsv', sep='\t', encoding='latin-1')
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.8      1348
1  tt0000002            6.5       157
2  tt0000003            6.6       932
3  tt0000004            6.4        93
4  tt0000005            6.2      1618

In [7]:
people = pd.read_csv('data/name.basics.tsv', sep='\t', encoding='latin-1')
people.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0053137,tt0050419,tt0043044"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0040506,tt0117057,tt0037382,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0063715,tt0059956,tt0057345,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0077975,tt0078723,tt0072562,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0060827,tt0083922,tt0050976"

In [8]:
all_movies = pd.read_csv('data/title.basics.tsv', sep='\t', encoding='latin-1')
all_movies.head()

/Users/iguest/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short

In [9]:
all_movies.titleType.unique()

array(['short', 'movie', 'tvMovie', 'tvSeries', 'tvEpisode', 'tvShort',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame'], dtype=object)

In [10]:
movies = (all_movies[all_movies['titleType']=='movie'])
movies.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
145,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport"
332,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,\N,"Biography,Drama"
499,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
571,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Biography,Crime,Drama"

In [11]:
crew = pd.read_csv('data/title.crew.tsv', sep='\t', encoding='latin-1')
crew.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

In [12]:
principals = pd.read_csv('data/title.principals.tsv', sep='\t', encoding='latin-1')
principals.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Herself""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [13]:
akas = pd.read_csv('data/title.akas.tsv', sep='\t', encoding='latin-1')
akas.head()

/Users/iguest/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita - spanyol tÃ¡nc,HU,\N,imdbDisplay,\N,0
1,tt0000001,2,ÐÐ°ÑÐ¼ÐµÐ½ÑÐ¸ÑÐ°,RU,\N,\N,\N,0
2,tt0000001,3,Carmencita,US,\N,\N,\N,0
3,tt0000001,4,Carmencita,\N,\N,original,\N,1
4,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1

In [14]:
episodes = pd.read_csv('data/title.episode.tsv', sep='\t', encoding='latin-1')
episodes.head()

      tconst parentTconst seasonNumber episodeNumber
0  tt0041951    tt0041038            1             9
1  tt0042816    tt0989125            1            17
2  tt0042889    tt0989125           \N            \N
3  tt0043426    tt0040051            3            42
4  tt0043631    tt0989125            2            16

### Merge Movie Data Together

In [15]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 477249 entries, 8 to 4803338
Data columns (total 9 columns):
tconst            477249 non-null object
titleType         477249 non-null object
primaryTitle      477249 non-null object
originalTitle     477249 non-null object
isAdult           477249 non-null int64
startYear         477249 non-null object
endYear           477249 non-null object
runtimeMinutes    477249 non-null object
genres            477249 non-null object
dtypes: int64(1), object(8)
memory usage: 36.4+ MB

In [16]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 804842 entries, 0 to 804841
Data columns (total 3 columns):
tconst           804842 non-null object
averageRating    804842 non-null float64
numVotes         804842 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 18.4+ MB

In [17]:
imdb = pd.merge(movies, ratings, on='tconst')
imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214468 entries, 0 to 214467
Data columns (total 11 columns):
tconst            214468 non-null object
titleType         214468 non-null object
primaryTitle      214468 non-null object
originalTitle     214468 non-null object
isAdult           214468 non-null int64
startYear         214468 non-null object
endYear           214468 non-null object
runtimeMinutes    214468 non-null object
genres            214468 non-null object
averageRating     214468 non-null float64
numVotes          214468 non-null int64
dtypes: float64(1), int64(2), object(8)
memory usage: 19.6+ MB

In [18]:
imdb = imdb.merge( crew, on='tconst')
imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214468 entries, 0 to 214467
Data columns (total 13 columns):
tconst            214468 non-null object
titleType         214468 non-null object
primaryTitle      214468 non-null object
originalTitle     214468 non-null object
isAdult           214468 non-null int64
startYear         214468 non-null object
endYear           214468 non-null object
runtimeMinutes    214468 non-null object
genres            214468 non-null object
averageRating     214468 non-null float64
numVotes          214468 non-null int64
directors         214468 non-null object
writers           214468 non-null object
dtypes: float64(1), int64(2), object(10)
memory usage: 22.9+ MB

In [19]:
#imdb = imdb.merge(principals, on='tconst')
imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214468 entries, 0 to 214467
Data columns (total 13 columns):
tconst            214468 non-null object
titleType         214468 non-null object
primaryTitle      214468 non-null object
originalTitle     214468 non-null object
isAdult           214468 non-null int64
startYear         214468 non-null object
endYear           214468 non-null object
runtimeMinutes    214468 non-null object
genres            214468 non-null object
averageRating     214468 non-null float64
numVotes          214468 non-null int64
directors         214468 non-null object
writers           214468 non-null object
dtypes: float64(1), int64(2), object(10)
memory usage: 22.9+ MB

In [20]:
imdb.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,62,nm0085156,nm0085156
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport",5.2,244,nm0714557,\N
2,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,\N,"Biography,Drama",6.2,32,"nm0675140,nm0095714",\N
3,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Biography,Crime,Drama",6.3,430,nm0846879,nm0846879
4,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama,5.1,12,nm0533958,"nm0092809,nm0533958"

In [21]:
len(imdb['directors'].unique())

87927

In [22]:
imdb_cols = ['tconst', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'runtimeMinutes', 'genres', 'averageRating',
       'numVotes', 'directors']

In [23]:
imdb = imdb[imdb_cols]
imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214468 entries, 0 to 214467
Data columns (total 10 columns):
tconst            214468 non-null object
primaryTitle      214468 non-null object
originalTitle     214468 non-null object
isAdult           214468 non-null int64
startYear         214468 non-null object
runtimeMinutes    214468 non-null object
genres            214468 non-null object
averageRating     214468 non-null float64
numVotes          214468 non-null int64
directors         214468 non-null object
dtypes: float64(1), int64(2), object(7)
memory usage: 18.0+ MB

In [24]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214468 entries, 0 to 214467
Data columns (total 10 columns):
tconst            214468 non-null object
primaryTitle      214468 non-null object
originalTitle     214468 non-null object
isAdult           214468 non-null int64
startYear         214468 non-null object
runtimeMinutes    214468 non-null object
genres            214468 non-null object
averageRating     214468 non-null float64
numVotes          214468 non-null int64
directors         214468 non-null object
dtypes: float64(1), int64(2), object(7)
memory usage: 18.0+ MB

In [26]:
imdb.to_csv('data/imdb_raw.csv')

### Decode Names of People

In [28]:
useful_people = []
for index, row in imdb.iterrows():
    directors = row['directors'].split(',')
    if(directors[0]!='\\N'):
        useful_people.extend(directors)
print(len(useful_people))

237628

In [29]:
def get_people_dict():
    d = {}
    
    for index, row in people.iterrows():
        person_id = row['nconst']
        person_name = row['primaryName']
        d[person_id] = person_name
        if index%1000==0:
            print("Rows Processed", index)
    return d
#d = get_people_dict()

In [140]:
def get_director_name(dir_list):
    if (dir_list == [] or directors[0]=='\\N'):
        return ''
    else:
        val = ''
        for p in dir_list:
            val = val + d[p]
        return val

imdb.apply(lambda row : get_director_name(row['directors'].split(',')) )

KeyError: ('directors', 'occurred at index tconst')

### Load User Data

In [36]:
user = pd.read_excel('data/userdata.xlsx')
user.head()

,S_ID,MOVIE_NAME,CAST,RATING,S_GENRE
0,1,21,"KEVIN SPACEY,KATE BOSWORTH",5.5,CRIME/DRAMA
1,2,10 THINGS I HATE ABOUT YOU,"HEATH LEDGER ,JULIA STILES,ALLISON JANNEY",7.0,TEEN COMEDY
2,3,10 THINGS OR LESS,MORGAN FREEMAN,7.0,COMEDY
3,4,12 ANGRY MEN,"LEE J. COBB,HENRY FONDA",8.5,DRAMA
4,5,27 DRESSES,"KATHERINE HEIGL,JAMES MARDSEN",5.0,ROMCOM

In [42]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 5 columns):
S_ID          800 non-null int64
MOVIE_NAME    774 non-null object
CAST          727 non-null object
RATING        769 non-null float64
S_GENRE       718 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 31.3+ KB

In [50]:
movies.describe()

             isAdult
count  477249.000000
mean        0.017660
std         0.131711
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

In [51]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 477249 entries, 8 to 4803338
Data columns (total 9 columns):
tconst            477249 non-null object
titleType         477249 non-null object
primaryTitle      477249 non-null object
originalTitle     477249 non-null object
isAdult           477249 non-null int64
startYear         477249 non-null object
endYear           477249 non-null object
runtimeMinutes    477249 non-null object
genres            477249 non-null object
dtypes: int64(1), object(8)
memory usage: 36.4+ MB

In [41]:
user.dropna()
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 5 columns):
S_ID          800 non-null int64
MOVIE_NAME    774 non-null object
CAST          727 non-null object
RATING        769 non-null float64
S_GENRE       718 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 31.3+ KB

In [49]:
user = user[user['RATING'].notnull()]
user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 769 entries, 0 to 773
Data columns (total 5 columns):
S_ID          769 non-null int64
MOVIE_NAME    769 non-null object
CAST          722 non-null object
RATING        769 non-null float64
S_GENRE       715 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 36.0+ KB

### Map User Data to Movie Data

In [54]:
user_small = user[['S_ID', 'MOVIE_NAME']]
user_small.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 769 entries, 0 to 773
Data columns (total 2 columns):
S_ID          769 non-null int64
MOVIE_NAME    769 non-null object
dtypes: int64(1), object(1)
memory usage: 18.0+ KB

In [57]:
movies_small = movies[['tconst', 'primaryTitle', 'originalTitle']]
movies_small.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 477249 entries, 8 to 4803338
Data columns (total 3 columns):
tconst           477249 non-null object
primaryTitle     477249 non-null object
originalTitle    477249 non-null object
dtypes: object(3)
memory usage: 14.6+ MB

In [58]:
user_small.to_csv('data/user_small.csv')

In [61]:
movies_small.to_csv('data/movie_small.csv')

### FuzzyWuzzy to Match Movie Titles
http://jonathansoma.com/lede/algorithms-2017/classes/fuzziness-matplotlib/fuzzing-matching-in-pandas-with-fuzzywuzzy/

In [63]:
# fuzz is used to compare TWO strings
from fuzzywuzzy import fuzz

# process is used to compare a string to MULTIPLE other strings
from fuzzywuzzy import process

In [68]:
fuzz.ratio("this is a test", "this is a fun")

74

In [65]:
fuzz.partial_ratio("this is a test", "test a is this")

57

In [66]:
fuzz.token_sort_ratio("fuzzy wuzzy was a bear", "wuzzy fuzzy was a bear")

100

In [70]:
fuzz.token_set_ratio("fuzzy was a bear", "fuzzy fuzzy was a bear")

100

In [79]:
#Using process and fuzz on our dataset
choices = movies['primaryTitle'].values
len(choices)

477249

In [78]:
len(movies['primaryTitle'].unique())

419416

In [82]:
%%time
process.extract("Charlies Angles", choices, scorer=fuzz.ratio)

CPU times: user 6.92 s, sys: 65.3 ms, total: 6.98 s
Wall time: 7.05 s

[("Charlie's Angels", 90),
 ("Charlie's Angels", 90),
 ("Charlie's Angel", 87),
 ("Charing's Angles", 84),
 ("Sharlie's Angels", 84)]

In [96]:
choices = movies['primaryTitle'].values

def match_titles(title):
#    %%time
    res = process.extract(title, choices, scorer=fuzz.ratio)
#    best_res = min(data, key = lambda t: t[1])
#    worst_res = max(data, key = lambda t: t[1])
    
    return res

In [89]:
df = user_small.head(20)

In [97]:
for index, row in df.iterrows():
    print(match_titles(str(row['MOVIE_NAME'])))

[('21', 100), ('21', 100), ('21', 100), ('21', 100), ('216', 80)]
[('10 Things I Hate About You', 100), ('10 Things I Hate About Life', 87), ('10 Things I Learned About Love', 79), ('Six Things I Know About You', 75), ('Nothing Without You', 67)]
[('10 Items or Less', 79), ('30 Minutes or Less', 74), ('The Things of Life', 69), ('The Things of Love', 69), ('In This Our Life', 67)]
[('12 Angry Men', 100), ('Angry Men', 86), ('6 Angry Women', 80), ('Seven Angry Men', 74), ('One Angry Man', 72)]
[('27 Dresses', 100), ('17 Desserts', 76), ('2 Degrees', 74), ('Dressed', 71), ('12 Princesses', 70)]
[('50 First Dates', 100), ('First Date', 83), ('First Date', 83), ('The First Date', 79), ('Last First Date', 76)]
[('500 Days of Summer', 100), ('Dog Days of Summer', 83), ('Last Days of Summer', 81), ('(614) Days of Summer', 81), ('Last Day of Summer', 78)]
[('A Beautiful Mind', 100), ('A Beautiful Maid', 94), ('Beautiful Mind', 93), ('A Beautiful Now', 84), ('Beautiful Sin', 83)]
[('A Clockwork Orange', 100), ('Clockwork Angels', 82), ('A Clockwork Mutant', 78), ('A Clock Work Blue', 74), ('At Close Range', 69)]
[('A Few Good Men', 100), ('A Few Good Dykes', 80), ('A Good Man', 75), ('A Good Man', 75), ('A Good Man', 75)]
[('A Good Year', 100), ('Good Ear', 84), ('One Good Year', 83), ('A Good Meal', 82), ('The Good Years', 80)]
[('A History of Violence', 100), ('Anatomy of Violence', 80), ('A Day of Violence', 79), ('Act of Violence', 78), ('Act of Violence', 78)]
[('A League of Their Own', 100), ('A Class of Their Own', 83), ('A Place of Her Own', 82), ('A War of Their Own', 82), ('A Home of Their Own', 80)]
[('A Lot Like Love', 100), ('A Lotto Like Love', 94), ('A Lot Like You', 83), ('It Felt Like Love', 81), ('Aka Like Love', 79)]
[('A Streetcar Named Desire', 100), ('A Streetcar named Stella', 83), ('A War Named Desire', 81), ('A Street Cat Named Bob', 74), ('An Island Named Desire', 74)]
[('Aladin', 92), ('Aladin', 92), ('Aladin', 92), ('Aladin', 92), ('Aladdin', 86)]
[("America's Sweetheart", 100), ("America's Sweetheart", 100), ("America's Sweethearts", 98), ('American Sweethearts', 90), ('All-American Sweetheart', 84)]
[('Amy', 100), ('Amy', 100), ('Amy', 100), ('Amy', 100), ('Amy', 100)]
[('Analyze That', 100), ('Analyze This', 83), ('Anal Heat', 76), ('Fancy That!', 73), ('Manakkale Thatha', 71)]
[('Analyze This', 100), ('Analyze That', 83), ('Inaye Thedi', 70), ('Answer This!', 70), ('Sample This', 70)]